.applicant-detail {

  .headshot {
    margin-left: -20px;
    margin-top: 20px;
    float: left;
    border: 4px solid fade(@black, 60);
    .border-radius(4px);
    margin-right: 10px;
  }

  .position {
    .position-label {
      .muted;
      font-style: italic;
      font-size: @fontSizeSmall;
      display: block;
    }
  }

  .name {
    margin-top: 20px;
    font-size: 24px;
    line-height: 24px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-weight: bold;
  }

}