@import 'bootstrap';
@import 'responsive';

@import 'variable-overrides';

@import 'applicant-list';
@import 'applicant-detail';
@import 'login';
@import 'note-list';

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  @media (max-width: @phoneMaxWidth) {
    padding: 0;
  }
}


.transform(@fn) {
  -webkit-transform: @fn;
     -moz-transform: @fn;
      -ms-transform: @fn;
       -o-transform: @fn;
          transform: @fn;
}
.transition-prefixed(@property, @easing, @timing) {
  -webkit-transition: ~"-webkit-@{property} @{easing} @{timing}";
     -moz-transition: ~"-moz-@{property} @{easing} @{timing}";
      -ms-transition: ~"-ms-@{property} @{easing} @{timing}";
       -o-transition: ~"-o-@{property} @{easing} @{timing}";
          transition: ~"@{property} @{easing} @{timing}";
}
.animate(@name, @t) {
  -webkit-animation: @name @t ease-in-out infinite;
     -moz-animation: @name @t ease-in-out infinite;
      -ms-animation: @name @t ease-in-out infinite;
       -o-animation: @name @t ease-in-out infinite;
          animation: @name @t ease-in-out infinite;
}
.transform-origin(@x, @y) {
  -webkit-transform-origin: @x @y; 
     -moz-transform-origin: @x @y;
      -ms-transform-origin: @x @y;
       -o-transform-origin: @x @y;
}

.screen {

  @transition-timing: .2s;

  background-color: @bodyBackground;
  display: block;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  z-index: 0;
  .transform(translateX(100%));
  .transition-prefixed(transform; ease-out; @transition-timing);
  &.in {
    .transform(translateX(0%));
    .transition-prefixed(transform; ease-out; @transition-timing);
  }
  &.drop {
    .transform(scale(.95));
    .transition-prefixed(transform; ease-out; @transition-timing);
    position: fixed;
  }
}

.applicant-detail.screen {
  position: fixed;
  padding-bottom: 100px;
  &.in {
    position: absolute;
  }
}

.overlay {

  position: fixed;
  height: 200px;
  width: 200px;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  .box-sizing(border-box);
  .border-radius(10px);
  background-color: fade(@black, 80);
  // .box-shadow(0px 0px 30px fade(@black, 50));
  padding: 20px;
  z-index: 50;
  display: none;
  text-align: center;
  color: #fff;
  .opacity(0);
  .transform(scale(.9));
  .transition(all ease-out .1s);

  &.active {
    .opacity(100);
    .transform(scale(1));
    .transition(all ease-out .1s);
  }

  h2 {
    font-weight: 800;
  }

  .loading {
    .square(100px);
    margin: 12px auto;
    .img-circle();
    position: relative;

    @-webkit-keyframes spinner { to { .transform(rotate(360deg)); } }
       @-moz-keyframes spinner { to { .transform(rotate(360deg)); } } 
        @-ms-keyframes spinner { to { .transform(rotate(360deg)); } }
         @-o-keyframes spinner { to { .transform(rotate(360deg)); } }
            @keyframes spinner { to { .transform(rotate(360deg)); } }

    .dot {
      .square(18px);
      position: absolute;
      .img-circle();
      &.blue {
        background-color: #2980B9;
        top: 0;
        left: 50%;
        margin-left: -10px;
        .transform-origin(50%; 250%);
        .animate(spinner; 2s);
      }
      &.red {
        background-color: #C0392B;
        top: 50%;
        right: 0;
        margin-top: -10px;
        .transform-origin(-150%; 50%);
        .animate(spinner; 1.86s);
      }
      &.yellow {
        background-color: #E67E22;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
        .transform-origin(50%; -150%);
        .animate(spinner; 1.45s);
      }
      &.green {
        background-color: #27AE60;
        top: 50%;
        left: 0;
        margin-top: -10px;
        .transform-origin(250%; 50%);
        .animate(spinner; 1.72s);
      }
    }
  }

}